/*.headding {
    font-family: 'EB Garamond', serif;
    font-family: 'Lora', serif;
    border: #bc10f5;
}
*/
p {
    font-family: 'Lora', serif;
    font-stretch: wider;
}

p span {
    font-weight: bold;
}

.intro {
    padding-top: 10px;
    background-image:url(./assets/wallpaperflare.com_wallpaper.jpg);
    background-color: rgb(188, 155, 223);
    background-repeat: no-repeat;
    background-size: cover;
}


.head {
    border-color: #bc10f5;
}

.intro {
    background-color: #808080;
}

.text-white {
    color: #fff;
}

.intro h1 {
    padding-top: 20px;
    padding-top: 20px;
    color: #fff;
    border: solid;
    border-color: #bc10f5;
    padding: 10px;
}

.intro p {
    font-size: 20px;
    color: #fff;
}

.intro button {
    height: 40px;
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #bc10f5;
    background-color: #808080;
    border-color: #fff;
    border-width: 5px;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 20px ;
}

.intro img {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
}

.testimonial h1 {
    font-weight: bold;
}

.testimonial {
    padding: 30px;
    width: 700px;
    height: auto;
    max-width: 700;
    background-color: #bc10f5;
}

.outline h1 {
    font-weight: bold;
}

.outline {
    padding: 30px;
    border: 2px solid #000;
    outline: 5px solid #808080;    
    outline-style: double;
    background-color: #bc10f5;
}

.text_formatting h1 {
    font-weight: bold;
    text-shadow: 3px 2px #000;
    text-align: center;
}

.text_formatting {
    padding: 30px;
    background-color: #bc10f5;
    text-align: justify;
    text-decoration: underline;

    text-transform: capitalize;
    text-indent: 50px;
    letter-spacing: 0.1px;
    line-height: 2;
    direction: ltr;
    word-spacing: 3px;
}