* /*
h1 {
    font-family: 'EB Garamond', serif;
    font-family: 'Lora', serif;
}*/

p {
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: large;
    font-stretch: wider;
}

.intro {
    background-color: peachpuff;
}

.text-violet {
    color: violet;
}